<h2>All Users</h2>

<table class="table table-hover table-bordered" width="100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th> 
        <th>Email</th>
        <th>Created At</th>
        <th>Access Level</th>
    </tr>
    </thead>
    <tbody>
    @{
    foreach(var user in @ViewBag.AllUsers){
    <tr>
        <td>@user.UserId</td> 
        <td><a href="/blog/@user.UserId">@user.FirstName @user.LastName</a></td>
        <td>@user.Email</td>
        <td>@user.CreatedAt.ToString("MMMM d, yyyy")</td>
        <td>@user.AccessLevel</td>
    </tr>
    }
    }
    </tbody>
</table>   